<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.demo.mapper.CartItemsMapper">

    <resultMap id="BaseResultMap" type="com.lzq.demo.domain.CartItems">
            <id property="cartItemId" column="cart_item_id" jdbcType="INTEGER"/>
            <result property="cartId" column="cart_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cart_item_id,cart_id,product_id,
        quantity,price,created_date,
        updated_date
    </sql>
</mapper>
