<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="genetor.mapper.FormRuleMapper">

    <resultMap id="BaseResultMap" type="genetor.entity.FormRule">
            <result property="ruleId" column="rule_id" jdbcType="VARCHAR"/>
            <result property="createorname" column="createorname" jdbcType="INTEGER"/>
            <result property="updateorname" column="updateorname" jdbcType="INTEGER"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updatetime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createop" column="createop" jdbcType="VARCHAR"/>
            <result property="updateop" column="updateop" jdbcType="VARCHAR"/>
            <result property="rules" column="rules" jdbcType="VARCHAR"/>
            <result property="questionnaireId" column="questionnaire_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rule_id,createorname,updateorname,
        createtime,updatetime,status,
        createop,updateop,rules,
        questionnaire_id
    </sql>
</mapper>
