<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.demo.mapper.NotificationsMapper">

    <resultMap id="BaseResultMap" type="com.lzq.demo.domain.Notifications">
            <id property="notificationId" column="notification_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="notificationType" column="notification_type" jdbcType="VARCHAR"/>
            <result property="notificationText" column="notification_text" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        notification_id,user_id,notification_type,
        notification_text,created_date
    </sql>
</mapper>
