<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.demo.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.lzq.demo.domain.Orders">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
            <result property="orderDate" column="order_date" jdbcType="DATE"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="shippingAddress" column="shipping_address" jdbcType="VARCHAR"/>
            <result property="recipientName" column="recipient_name" jdbcType="VARCHAR"/>
            <result property="recipientPhone" column="recipient_phone" jdbcType="VARCHAR"/>
            <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
            <result property="paymentStatus" column="payment_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,user_id,order_status,
        order_date,total_amount,shipping_address,
        recipient_name,recipient_phone,payment_method,
        payment_status
    </sql>
</mapper>
