<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.demo.mapper.RefundsMapper">

    <resultMap id="BaseResultMap" type="com.lzq.demo.domain.Refunds">
            <id property="refundId" column="refund_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        refund_id,order_id,amount,
        refund_time,reason
    </sql>
</mapper>
